
<div class="mainbox">
    <div class="numbers">
        <div class="err">4</div>
          <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
    </div>
    <div class="letters">
        <div class="msg">Quizás esta página se movió? Fue borrada? Está escondida de cuarentena? Quizás nunca existió?
            <p>Vamos 
                <a href="#"
                   [routerLink]="['/inicio']">a casa</a> 
            y provemos desde alli.</p>
        </div>
    </div>
</div>